name: Conviso Platform AST
on:
 workflow_dispatch:
 #push:
 #  branches: [ main, develop ]
 #pull_request:
 #  branches: [ main, develop ]

jobs:
  conviso-ast:
    runs-on: ubuntu-latest
    container:
      image: convisoappsec/convisocli:latest
      env:
        CONVISO_API_KEY: ${{secrets.CONVISO_API_KEY}}
        CONVISO_ASSET_NAME: "payment-service"
    steps:
    - uses: actions/checkout@v3
  
    - name: AST
      run: conviso --vulnerability-auto-close ast run
